table.color-shades {
  border-collapse: collapse;
}
table.color-shades td, table.color-shades th {
  border: 1px solid black;
}
table.color-shades tr:first-child th {
  border-top: 0;
}
table.color-shades tr:last-child td {
  border-bottom: 0;
}
table.color-shades tr td:first-child,
table.color-shades tr th:first-child {
  border-left: 0;
}
table.color-shades tr td:last-child,
table.color-shades tr th:last-child {
  border-right: 0;
}
table.color-shades td {
    width: 20px;
    height: 30px;
    font-size: 9px;
}

